body {
	padding: 0;
	margin: 0;
	/*height: 1000px;*/
}

body a {
	color: #fff;
}

body a:hover {
	color: rgba(255, 87, 0, 0.94);
}

/* SCROLLBAR MODIFY */

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

::-webkit-scrollbar-track{
    border-width:0;
}

/* SCROLLBAR MODIFY END */

#heading{
  	 background-image: url(../back/bk.png); 
	 height: 200 px;
	/* background-color: linear-gradient(rgba(0,33,115,1.0), rgba(0, 0, 0, 0));*/
 }
 
 #globalcontent {
	/*height: 1000px;*/
	width: 100%;
 }
 
#footer {
	position: relative; 
   /* height: 0;*/
    left: 0; 
	bottom: 0; 
    padding: 10px;
   /* background-image: url(../back/navy.jpg); */
    background-color: rgba(0,33,155,1.00);
	/*clear:both;
    width: 95%; */
}

#header {
	position: relative;
	height: 744px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#menutop{
	position: fixed;
	width: 100%;
	height:	40px;
	z-index: 1000;
}

#navlow{
	position: absolute;
	margin-top: 0px;
	height: 40px;
	width: 100%;
	/*background: linear-gradient(rgba(0,33,115,1.0), rgba(0, 0, 0, 0));*/
	z-index: 0;
}

#navlow p {
	color: white;
	margin: 30px 30px 30px 30px;
	font-size: 20px;
}

#menulow_fixed{
	position: fixed;
	/*margin-top: -120px;*/
	top: 40px;
	height: 40px;
	width: 100%;
	z-index: 999;
	display: none;
	background-color: #777;
}

#ulhead {
	height: 40px;
	position: fixed;
	font-family: Arial;
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: rgba(0,33,115,0.79);
}

#ulhead li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
}

#ulhead li.top:hover {
	background: rgba(255, 87, 0, 0.94) ;
}

#ulhead li a{
	display: block;
	text-decoration: none;
	color: white;
}

/* DROPDOWN*/

#ulhead .top {
	list-style-type: none;
	padding: 0;
	z-index: 0;
}

#ulhead ul.inside li	{
	display: block;
}

#ulhead ul.inside li:hover {
	background: #000;
}

#ulhead ul.inside{
	position: absolute;
	left: -9999px;
	background-color: rgba(0, 0, 0, 0.21);
	z-index: -1;
	padding: 0;
}

#ulhead li.top:hover ul.inside {
	left: 0;
	display: block;
	margin: 11px 0 0 0;
}

/* END DROPDOWN*/

#ullow {
	position: absolute;
	bottom: 0;
	height: 40px;
	font-family: Arial;
	width: 70%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: transparent;
}

#ullow li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
}

#ullow li a{
	display: block;
	text-decoration: none;
	color: white;
}

#ullow li a:hover{
	font-weight: bold;
	text-decoration: underline;
}

/* SLIDER BEGIN */
.slider {
	z-index: 0;
	width: 700px;
	height: 100%;
	overflow: hidden;
	margin: 0 0 7px;
	position: absolute;
}

.slider img{
	width: 100%;
	height: 100%;
}

.slider ul, .slider li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.slider ul {
	width: 9999px; 
}

.slider ul li {
	list-style-type: none;
	float: left;
	width: 700px;
	height: 100%;
}

.slider .nav {
	position: absolute;
	right: 15px;
	bottom: 12px; 
}

.slider .nav span {
	opacity: 0.9;
	background: #fff;
	margin: 0 8px 0 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	display: block;
	float: left;
	box-shadow: 0 1px 2px #000;
}

.slider .nav span:hover {
	background: #CF8E18;
}

.slider .nav span.on {
	background: #CF8E18;
}
 /* SLIDER END */
 .heading-sit{
 	/*background-color: black; /*url(back/фон2.png);*/
	/*height: 160px;*/
	text-align: left;
 }
 .heading-sit img{
 position: relative; 
 top: 20px;
 }
 .heading-ifmo{
 	/*background: repeat-x center bottom; */
 	height: 0px; 
	text-align: right;
 }
 .heading-ifmo img{
	position: relative; 
 	top: -100px;
 }
 #descr {
	position: absolute;
	bottom: 0; 
	background-color: rgba(150, 150, 150, 0.2);
	height: 150px;
	width: 100%;
	padding-left: 20px;
 }
 
 #descr p{
	position: absolute;
	bottom: 0;
}

#block1{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../slides/2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block1 #shadow{
	background-color: rgba(255, 0, 0, 0.2);
	height: 100%;
	width: 100%;
}

#hr{
	background-color: #777;
	height: 150px;
}

#text {
	float: left;
	width: 50%;
	margin: 10% 0 0 6%;
}

#text h1{
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 32px;
}

#text p{
	font-size: 22px;
	line-height: 1.72em;
	padding-bottom: 20px;
}

#block2{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../slides/3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block2 #shadow{
	background-color: rgba(46, 255, 0, 0.2);
	height: 100%;
	width: 100%;
}
