body {
	padding: 0;
	margin: 0;
	/*height: 1000px;*/
}

body a {
	color: #fff;
}

body a:hover {
	color: rgba(255, 87, 0, 0.94);
}

/* SCROLLBAR MODIFY */

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #002173 ;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: rgba(255, 87, 0, 0.84);
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

::-webkit-scrollbar-track{
    border-width:0;
}

/* SCROLLBAR MODIFY END */

#heading{
	height: 200px;
	position: relative;
 	background: linear-gradient(to bottom, #002173 40px,rgba(0,33,115,0.7) 120px,rgba(0,33,115,0.0) 100%); 
 }
 
 #globalcontent {
	/*height: 1000px;*/
	width: 100%;
}
 
#footer {
	position: relative;
    left: 0;
    bottom: 0;
    height: 150px;
	background-color: rgba(10,26,91,1.00);
    padding: 3px;
}

#header {
	position: relative;
	height: 100%; /*744px was */
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#menutop{
	position: fixed;
	width: 100%;
	height:	40px;
	z-index: 1000;
}

#navlow{
	position: absolute;
	margin-top: 60px;
	height: 40px;
	width: 100%;
	z-index: 0;
}

#navlow p {
	color: white;
	margin: 30px 30px 30px 30px;
	font-size: 20px;
}

#menulow_fixed {
	position: fixed;
	/*margin-top: -120px;*/
	top: 40px;
	height: 40px;
	width: 100%;
	z-index: 999;
	display: none;
	background-color: rgba(0,0,0,0.70);
}
#menulow_fixed #ullow{
	width: 75%;
	left: 15%;
	right: 10%;
}
#ulhead {
	height: 40px;
	position: fixed;
	font-family: Arial;
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: rgba(0,33,115,0.79);
}

#ulhead li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
}

#ulhead li.top:hover {
	background: rgba(255, 87, 0, 0.74) ;
}

#ulhead li.nonhover {
/*	display: table-cell;	
	text-align: center;
	vertical-align:middle;*/
	transition: 0.4s;
	position: relative;
	color: white;
}

#ulhead li a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 5px 5px 5px 5px;
}

/* DROPDOWN*/

#ulhead .top {
	list-style-type: none;
	padding: 0;
	z-index: 0;
}

#ulhead ul.inside li	{
	display: block;
}

#ulhead ul.inside li:hover {
	background: #002173 ; 
}

#ulhead ul.inside{
	position: absolute;
	left: -9999px;
	/*background-color: rgba(0, 0, 0, 0.41);*/
	background-color: inherit;
	z-index: -1;
	padding: 0;
	text-align:center;	
}

#ulhead li.top:hover ul.inside {
	left: 0;
	display: block;
	margin: 6px 0 0 0;
}

/* END DROPDOWN*/

#ullow {
	position: absolute;
	bottom: 0;
	height: 40px;
	font-family: Arial;
	width: 60%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: transparent;
	left: 25%;
	right: 15%;
}

#ullow li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
	font-size: 1.2vw;
}

#ullow li a{
	display: block;
	text-decoration: none;
	color: white;
}

#ullow li a:hover{
	color: rgba(255, 87, 0, 0.84);
}

/* SLIDER BEGIN */
.slider {
	z-index: 0;
	width: 700px;
	height: 100%;
	overflow: hidden;
	margin: 0 0 7px;
	position: absolute;
}

.slider img{
	width: 100%;
	height: auto;
}

.slider ul, .slider li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.slider ul {
	width: 9999px; 
}

.slider ul li {
	list-style-type: none;
	float: left;
	width: 700px;
	height: 100%;
}

.slider .nav {
	position: absolute;
	right: 15px;
	bottom: 12px; 
}

.slider .nav span {
	opacity: 0.9;
	background: #fff;

	margin: 0 8px 0 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	display: block;
	float: left;
	box-shadow: 0 1px 2px #000;
}

.slider .nav span:hover {
	background: #CF8E18;
}

.slider .nav span.on {
	background: #CF8E18;
}
 /* SLIDER END */
 .heading-sit{
 	/*border-width: 0 2px 0 0;border-color:rgba(255,255,255,0.50); border-style: solid; padding-right: 10px; height:30%;*/
	float: left;
	top: 50px;
	width:25%;
	position: absolute;
 }
 .heading-sit img{
	width: 100%;
	height: auto;
 }
 .heading-ifmo{
 	/*height: 0px; */
	right: 0;
	top: 35px;
	width: 15%;
	position: absolute;
 }
 .heading-ifmo img{
	width: 100%;
	height: auto;
 }
 #descr {
	position: absolute;
	bottom: 0; 
	background-color: rgba(0, 32, 114, 0.82);
	height: 12%;
	width: 100%;
	padding-left: 20px;
 }
 
 #descr p{
	position: absolute;
	bottom: 0;
}

#intro{
	width: 100%;
	height: 400px;
	color: #000;
	text-align: center;
}

#block1{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block1 #shadow{
	background-color: rgba(255, 87, 0, 0.54);
	height: 100%;
	width: 100%;
}

#hr{
	background-color: 	#FFF8E7;
	height: 150px;
}

#text {
	float: left;
	width: 50%;
	margin: 10% 0 0 6%;
}

#text h1{
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 32px;
	color: white;
}

#text p{
	font-size: 22px;
	line-height: 1.72em;
	padding-bottom: 20px;
	color:white;
}

#block2{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../images/2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block2 #shadow{
	background-color: rgba(142,209,144,0.4);
	height: 100%;
	width: 100%;
}

#block3{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../images/4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block3 #shadow{
	background-color: rgba(237,177,205,0.5);
	height: 100%;
	width: 100%;
}

#block4{
	position: relative;
	width: 100%;
	height: 700px;
	background-image: url("../images/5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block4 #shadow{
	background-color: rgba(0, 33, 115, 0.30);
	height: 100%;
	width: 100%;
}

#news {
	position: fixed;
	top: 328px;
	right: 0;
	background: rgba(0,33,115,0.45);
	width: 28px;
	height: 50px;
	font: 40px Georgia;
	color: #fff;
	text-align: center;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 5px  0 0 5px;
	-moz-border-radius: 5px  0 0 5px;
	border-radius: 5px  0 0 5px;
}

#s_panel {
	position: fixed;
	top: 228px;
	right: -100%;
	background: rgba(0,0,0,0.85);
	width: 100%;
	height: 200px;
	padding: 50px 0 0 0;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-border-radius: 5px  0 0 5px;
	-moz-border-radius: 5px  0 0 5px;
	border-radius: 5px  0 0 5px;
}

#news:hover {
	right: 100%;
}

#news:hover #s_panel {
	right: 0;
}

#owl-demo .item{
	background: rgba(0,33,115,0.95);
	padding: 3px 0;
 	margin: 10px;
	height: 150px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

/*CLOCK STARTS*/	
.date #daymonth {
  color:white;
  font-size: 1.2vw;
}

.date #year {
  color:#C1C1C1;
  font-size: 1.2vw;
  /*margin-top: 20px;*/
}

.clock {
	background-color:rgba(255, 87, 0, 0.84);
	border: 0.19em solid white;
	border-radius: 100%;
	height: 32px;
	position: absolute;
	margin-left:7;
	margin-top:-3;
	width: 32px;
}

.clock span {
	background: white;
	bottom: 50%;
	display: block;
	left: 50%;
	position: absolute;
	transform-origin: bottom center;
}

.clock .hours {
	height: 30%;
	width: 0.1em;
}

.clock .minutes {
	height: 45%;
	width: 0.1em;
}
/* CLOCk ENDS*/

.par{
	margin-top: 0;
	font-size: 1.2vw;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.color-7 {
	margin-left: 27%;
	width: 60vw;
	}
nav a {
	position: relative;
	display: inline-block;
	margin: 0;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(0,33,115,0.6);
	font-size: 0.7em;
	font-family:Arial;
	
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* оявление границ снизу и сверху */
.cl-effect-17 a {
	border-top-color: #000000;
	color: #FFFFFF;
	text-shadow: none;
	padding: 10px 0;
	margin:10px;
}

.cl-effect-17 a::before {
	color: #fff;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-17 a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-17 a:hover::before,
.cl-effect-17 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.cl-effect-17 a:hover::after,
.cl-effect-17 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
