body {
	padding: 0;
	margin: 0;
	background-color:#FFF8E7;
	/*height: 1000px;*/
	font-family: Helvetica;
}

body a {
	color: #fff;
}

body a:hover {
	color: rgba(255, 87, 0, 0.94);
}

/* SCROLLBAR MODIFY */

::-webkit-scrollbar{
    width:5px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #002173 ;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: rgba(255, 87, 0, 0.84);
}

::-webkit-scrollbar-track:hover{	
    border-left: solid 1px #aaa;
    background-color: #eee;
}

::-webkit-scrollbar-track{
    border-width:0;
}

/* SCROLLBAR MODIFY END */

#heading{
	height: 200px;
	position: relative;
 	background: linear-gradient(to bottom, #002173 40px,rgba(0,33,115,0.7) 120px,rgba(0,33,115,0.0) 100%); 
 }
 
 #globalcontent {
	/*height: 1000px;*/
	width: 100%;
}
 
#footer {
	position: relative;
    left: 0;
    bottom: 0;
    height: 150px;
	background-color: rgba(10,26,91,1.00);
	font-family:Times New Roman;
    padding: 3px;
}
#footer .right a{
text-decoration:none;
}
#header {
	position: relative;
	height: 100%; /*744px was */
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#menutop{
	position: fixed;
	width: 100%;
	height:	40px;
	z-index: 1000;
}

#navlow{
	position: absolute;
	height: 40px;
	width: 100%;
	z-index: 0;
}

#navlow p {
	color: white;
	margin: 30px 30px 30px 30px;
	font-size: 20px;
	
}

#menulow_fixed {
	position: fixed;
	/*margin-top: -120px;*/
	top: 40px;
	height: 40px;
	width: 100%;
	z-index: 999;
	display: none;
	background-color: rgba(0,0,0,0.70);
	font-family: Helvetica;
	text-shadow:1px 1px 1px black;
}
#menulow_fixed #ullow{
	width: 75%;
	left: 15%;
	right: 10%;
}
#ulhead {
	height: 40px;
	position: fixed;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px rgba(0,33,155,1.00);
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: rgba(0,33,115,0.79);
}

#ulhead li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
}

#ulhead li.top:hover {
	background: rgba(255, 87, 0, 0.74) ;
}

#ulhead li.nonhover {
/*	display: table-cell;	
	text-align: center;
	vertical-align:middle;*/
	transition: 0.4s;
	position: relative;
	color: white;
}

#ulhead li a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 5px 5px 5px 5px;
}

/* DROPDOWN*/

#ulhead .top {
	list-style-type: none;
	padding: 0;
	z-index: 0;
}

#ulhead ul.inside li	{
	display: block;
}

#ulhead ul.inside li:hover {
	background: #002173 ; 
}

#ulhead ul.inside{
	
	width: 100%;
	position: absolute;
	left: -9999px;
	/*background-color: rgba(0, 0, 0, 0.41);*/
	background-color: inherit;
	z-index: -1;
	padding: 0;
	text-align:center;	
}

#ulhead li.top:hover ul.inside {
	left: 0;
	display: block;
	margin: 6px 0 0 0;
}

/* END DROPDOWN*/

#ullow {
	position: absolute;
	bottom: 0;
	height: 40px;
	font-family: Helvetica;

	width: 60%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: transparent;
	left: 25%;
	right: 15%;
}

#ullow li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;
	transition: 0.4s;
	position: relative;
	font-size: 1.2vw;
}

#ullow li a{
	display: block;
	text-decoration: none;
	color: white;
}

#ullow li a:hover{
	color: rgba(255, 87, 0, 0.84);
}

/* SLIDER BEGIN */
.slider {
	z-index: 0;
	width: 700px;
	height: 100%;
	overflow: hidden;
	margin: 0 0 7px;
	position: absolute;
}

.slider img{
	width: 100%;
	height: auto;
}

.slider ul, .slider li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.slider ul {
	width: 9999px; 
}

.slider ul li {
	list-style-type: none;
	float: left;
	width: 700px;
	height: 100%;
}

.slider .nav {
	position: absolute;
	right: 15px;
	bottom: 12px; 
	z-index:2;
}

.slider .nav span {
	opacity: 0.9;
	background: #fff;

	margin: 0 8px 0 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	display: block;
	float: left;
	box-shadow: 0 1px 2px #000;
}

.slider .nav span:hover {
	background: #CF8E18;
}

.slider .nav span.on {
	background: #CF8E18;
}
 /* SLIDER END */
 .heading-sit{
 	/*border-width: 0 2px 0 0;border-color:rgba(255,255,255,0.50); border-style: solid; padding-right: 10px; height:30%;*/
	float: left;
	top: 50px;
	width:25%;
	position: absolute;
 }
 .heading-sit img{
	width: 100%;
	height: auto;
 }
 .heading-ifmo{
 	/*height: 0px; */
	right: 0;
	top: 35px;
	width: 15%;
	position: absolute;
 }
 .heading-ifmo img{
	width: 100%;
	height: auto;
 }
 #heading h1{
	 color:#fff;
	 text-align:center;
	 font-variant: small-caps;
	 font-family: Helvetica;
	 font-size: 2.0vw;
	 margin-bottom:17px;
	 padding-top:50px;
 }
 
 #descr p{
	position: absolute;
	bottom: 10px;
}

#descr h1{
	margin-top: 10px;
}

#intro{
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px white;
	background-color:#FFF8E7;
	position:relative;
}

#block1{
	position:static;
	width: 100%;
	height: 700px;
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block1 #shadow{
	background-color: rgba(255, 87, 0, 0.54);
	height: 100%;
	width: 100%;
	
}

#hr{
	background-color: 	#FFF8E7;
	height: 150px;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px white;
}

#text {
	float: left;
	width: 80%;
	margin: 10% 0 0 6%;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px black;
	
}

#text h1{
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-weight: 300;
	padding-bottom: 32px;
	color: white;
	font-family: Helvetica;
	text-shadow:1px 1px 1px black;
}

#text p{
	font-size: 22px;
	line-height: 1.72em;
	padding-bottom: 20px;

	color:white;
	font-family: Helvetica;
}

#block2{
	position:static;
	width: 100%;
	height: 700px;
	background-image: url("../images/2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block2 #shadow{
	background-color: rgba(196,252,204,0.30);
	height: 100%;
	width: 100%;
}
#block3{
	position:static;
	width: 100%;
	height: 700px;
	background-image: url("../images/4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block3 #shadow{
	background-color: rgba(237,177,205,0.5);
	height: 100%;
	width: 100%;
}

#block3 #shadow p{
	padding-right: 300px;
}

#block4{
	position:static;
	width: 100%;
	height: 700px;
	background-image: url("../images/5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#block4 #shadow{
	background-color: rgba(0, 33, 115, 0.30);
	height: 100%;
	width: 100%;
}
/*CLOCK STARTS*/	
.date #daymonth {
  color:white;
  font-size: 1.2vw;
}

.date #year {
  color:#C1C1C1;
  font-size: 1.2vw;
  /*margin-top: 20px;*/
}

.clock {
	background-color:rgba(255, 87, 0, 0.84);
	border: 0.19em solid white;
	border-radius: 100%;
	height: 32px;
	position: absolute;
	margin-left:7;
	margin-top:-3;
	width: 32px;
}

.clock span {
	background: white;
	bottom: 50%;
	display: block;
	left: 50%;
	position: absolute;
	transform-origin: bottom center;
}

.clock .hours {
	height: 30%;
	width: 0.1em;
}

.clock .minutes {
	height: 45%;
	width: 0.1em;
}
/* CLOCk ENDS*/

.par{
	margin-top: 0;
	font-size: 1.2vw;
}

.color-7 {
	margin-left: 27%;
	width: 60vw;
	}
nav a {
	position: relative;
	display: inline-block;
	margin: 14px;
	margin-top:-60px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.0vw;
	font-family:Helvetica ;
	text-shadow: 1px 1px 1px rgba(0,33,155,1.00);
	align-content:center;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.link4 {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.link4:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  color: rgba(255,255,255,1.00);
  text-shadow: 1px 1px 1px rgba(0,33,115,1.00); 
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.column {
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
  background: rgba(255,248,231,0.5);
  border-radius: 2px;
  width: 60%;
  margin: 0 6% 20px;
  display: block;
  float: left;
  font-family:Helvetica;
  color:rgba(0,33,115,1.0);

}
.column a{	
	  text-decoration:none;
	  color:rgba(0,33,115,1.0);
	  text-shadow:1px 1px 1px rgba(0,20,71,1.00);
	 
}
.column a:hover{
	  text-decoration:none;
	  color:rgba(0,33,115,1.0);
	  text-shadow:1px 1px 1px rgba(0,20,71,1.00);
}
.column ::selection {
  background: rgba(0,33,115,0.3);
}
@media screen and (max-width: 768px) {
  .column {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
#prepmenu {
	height: 40px;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px rgba(0,33,155,1.00);
	width: 100%;
	max-width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	background: #fff;	
	box-shadow: 0px 0px 0px 0px #000;
	border-collapse: collapse;
	z-index: 0;
	background-color: transparent;
}

#prepmenu li.top {
	display: table-cell;	
	text-align: center;
	vertical-align:middle;	
	position: static;
	font-size: 24;
}

#prepmenu li.top a {
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	transition: 0.2s;
}

#prepmenu li.top a:hover{
	color: rgba(255, 87, 0, 0.94);
}

.subprep{
	display: none;
	margin-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 10%;
}

.sub_active a{
	color: red;
}
/*
 Liquid Slider v2. Copyright 2012 Kevin Batdorf
 */

.liquid-slider {
  height:100%;
  /*overflow:scroll;*/
  font-family:Helvetica;
}
.ls-preloader {  
  background: url(../images/loading.gif) #fff8e7 no-repeat center 50%;
  opacity:1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}

/*** Containers ***/
.ls-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
}
.liquid-slider {
  background: #fff8e7;
  width: 100%;
  margin: 0 auto;
  float: left;
  overflow: hidden;
  position: relative;
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}
.ls-responsive .liquid-slider {
  width: 100%;
  margin: 0;
}
.panel-container {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  /* from http://davidwalsh.name/translate3d */
}
.liquid-slider .panel-container .fade {
  width:100%;
  opacity: 0;
  position: absolute;
  top: 0; 
  left: 0;
  display: block;
}

/*** Panels ***/
.liquid-slider .ls-panel {  
  width: 100%;
  display: block;
  float: left;
}
.panel-wrapper {  
  padding: 15px 40px;
  position:relative;
  background-color:#fff8e7;
}

/*** Tabbed Navigation ***/
.ls-nav {
  overflow:hidden;
  clear:both;
}
.ls-nav a {
  background: #d8d8d8;
  color: #333333;
  margin-right: 1px;
  padding: 10px 15px;  
  outline:0;
}
.ls-nav a:hover {
  background: #fff8e7;
  color: #333333;
  text-shadow: none;
}
.ls-nav .current a {
  background: #fff8e7;
}
.currentCrossLink {
  font-weight: bold;
}
.ls-nav ul {  
  padding:0;
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
.ls-nav ul li {
  display: inline;
}
.ls-nav ul li a {
  display: block;
  float: left;
  text-decoration: none;
}

/*** Mobile Navigation ***/
.ls-select-box { 
  width: 100%;
  height: 35px;
  overflow: hidden;
  background: url(../images/menu.png) no-repeat right #ddd;
}
.ls-select-box select {  
  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: none;
  height: 35px;
  cursor:pointer;
  outline: 0;
}

/*** Arrow Navigation (non-graphical) ***/
.ls-nav-left, .ls-nav-right {
  top:0;
  float: left;
  clear:both;
}
.ls-nav-left a, .ls-nav-right a {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.ls-responsive .ls-nav-left {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-left a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-left a:hover {
  background: #747474;
}
.ls-responsive .ls-nav-right {
  position: absolute;
  right: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right a {
  background: #9A9A9A;
  width: 80px;
}
.ls-responsive .ls-nav-right a:hover {
  background: #747474;
}

/*** Arrow Navigation (graphical) ***/
.ls-nav-left-arrow, .ls-nav-right-arrow {
  cursor: pointer;
  float: left;
  clear: both;
}
.ls-nav-left-arrow a, .ls-nav-right-arrow a {
  display: block;
}
[class$="-arrow"] {
  width: 25px;
  height: 25px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  margin-top: 50px;
  position:relative;
}
.ls-nav-right-arrow {
  background-position: top right;  
  margin-right: 5px;
}
.ls-nav-left-arrow {
  background-position: top left;  
  margin-left: 5px;
}
.ls-nav-left-arrow:hover {
  background-position: bottom left;
}
.ls-nav-right-arrow:hover {
  background-position: bottom right;
}
.ls-responsive .ls-nav-left-arrow {
  position: absolute;
  left: 0;
  z-index: 2;
}
.ls-responsive .ls-nav-right-arrow {
  position: absolute;
  right: 0;
  z-index: 2;
}

.rslats {
/*  margin: 3em -2em;*/
  line-height: 1.4;
  text-align: center;
}
.rslats li {
  text-align: justify;
  list-style-type: none;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 0 2em;
  border-left: 1px solid #d35400;
  border-right: 1px solid #d35400;
  margin-left: -1px;
}
.rslats li:first-child {
  border-left-width: 0;
}
.rslats li:last-child {
  border-right-width: 0;
}
.rslats li > img {
  border-radius: 80px;
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
}
.rslats h2, .rslats h3, .rslats h4, .rslats h5, .rslats h6 {
  color: rgba(0,33,115,1.00);
  margin-top: 1rem;
  text-align: center;
  font-size:1.5vw;
  font-family:Helvetica;
  text-shadow:1px 1px 1px black;
}
.rslats p{
	text-align:center;
	font-size: 1.4vw;
	color:white;
	font-family:Helvetica;
	text-shadow:1px 1px 1px black;
}

@media (max-width: 767px) {
  .rslats {
    padding: 0 0 0 90px;
    margin-left: 0;
    margin-right: 0;
  }
  .rslats h2, .rslats h3, .rslats h4, .rslats h5, .rslats h6 {
    text-align: left;
  }
  .rslats li {
    text-align: left;
    position: relative;
    clear: left;
    margin: 2em auto;
    padding: 0;
    min-height: 80px;
    display: block;
    width: 100%;
    border-width: 0;
  }
  .rslats li > img {
    border-radius: 80px;
    position: absolute;
    left: -90px;
    width: 80px;
    height: 80px;
    margin: 0;
  }
}

